*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
p{
    font-size: 11px;
    line-height: 24px;
    color: #7e8287;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h2{
    color: #02918c;
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
}
h3{
    font-size: 16px;
    font-weight: 800;
    color:#7e8287 ;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,a,span{
    margin: 0;
    padding: 0;
}
.section_header span{
    color: #7e8287;
    font-weight: 800;
    font-size: 23px;
}
.section_header p{
    font-size: 16px;
    padding: 26px 0;
}
/*banner arrow*/
.banner_arrow_right,
.banner_arrow_left{
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #02918c;
    border: 2px solid #ddd;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.banner_arrow_left{
    left: 0;
}
.banner_arrow_right{
    right: 0;
}
/*menu part css*/
.customMenu{
    background-color: #02918c;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#main_menu ul li a{
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 20px;
}

/* banner part css*/
.banner_image{
    height:728px ;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
}
.banner_image:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}
.banner_content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.banner_content img{
    display: inline-block;
    margin: 50px 0;
}
.banner_content h4{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}
.banner_content h1{
    font-size: 68px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 25px;
}
.banner_content p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.banner_content a{
    background-color: #cfc91d;
    color: #0b1016;
    font-size:14px ;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 40px;
}
/* about part css  */
#about_part{
    padding: 90px 0 100px 0;
}
#about_part .section_header{
    margin-bottom: 40px;
}
#about_part .section_header p{
    padding: 26px 20px;
}
.about_content{
    text-align: center;
    padding: 60px 0;
}
.about_content h3{
    padding: 20px 0;
}
.about_content p{
    padding: 0 46px;
}
.about_content i{
    color:#02918c ;
    font-size: 30px;
}
.about_content_border{
    border-right: 1px solid #000;
}
/* services_part css  */
#services_part{
    padding: 60px 0;
    background: url(../images/services_bg.jpg);
    background-position: center;
    background-size: cover;
}
.service_content{
    padding-right: 90px;
}
.service_content i{
    color:#02918c ;
    font-size: 25px;
    padding-top: 35px;
}
.service_content h3{
    padding: 10px 0;
}
/* my_work css */
#my_work{
    padding: 60px 0;
}
.work_items{
    position: relative;
}
.work_items .overlay{
    position: absolute;
    top: 20px;
    left: 35px;
    right: 25px;
    bottom: 20px;
    background-color:#02918c ;
    transform: scale(0);
    transition: .5s;
}
.overlay h3{
    padding: 22px 0;
}
.overlay p{
    padding: 0 60px;
}
.overlay h3,
.overlay p{
    color: #fff;
    text-align: center;
}
.work_items:hover .overlay{
    transform: scale(1);
}

.work_items img{
    width: 100%;
}

.filter_menu ul{
    text-align: center;
    margin: 30px 0 25px  0;
}

.filter_menu ul li{
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}
.filter_menu ul li.active{
    background-color: #02918c;
}
/*  contact css */
#contact_part{
    padding: 60px 0;
    background-color: #222;

}

#contact_part textarea,
#contact_part input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    margin-bottom: 30px;
    text-align: center;
}

#contact_part textarea{
    resize: none;
    height: 90px;
    border-top: 1px solid #fff;
}
#contact_part label{
    display: block;
    text-align: center;
    color:#7e8287;
}
#contact_part button{
    background-color: #cfc91d;
    color: #000;
    font-size: 14px;
    font-weight: 800;
    padding: 10px 50px;
    border: none;
    text-transform: uppercase;
}
/*contact header css*/
 #contact_header p{
     padding-bottom: 50px;
 }
/*bottom footer css*/
#bottom_footer{
    background-color: #000;
}
.copyright{
    text-align: center; 
    padding: 30px 0;
}
.copyright a{
    color: #5d6064;
}
